*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    overflow: hidden;
}


.container{
    background-color: grey;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principale-box{
    background-color: hotpink;
    width: 250px;
    height: 300px;
    border: 1px solid rgb(20, 20, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}